:root {
    --blue-color: hsl(30, 30%, 70%);
    --seccondary-color: hsl(0, 84%, 64%);
    --bgcl: hsl(30, 45%, 30%);
    --Lightblue-color: hsl(210, 32%, 50%);
    --dark-color: hsl(0, 0%, 7%);
    --coffee-color: hsl(30, 60%, 40%); /* Adjust hue, saturation, and lightness for a warm coffee color */
    --rustic-color: hsl(30, 45%, 30%);
}

.gridPOS{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.page-layout {
    display: grid;
    width: 100vw;
    height: fit-content;
    min-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    justify-content: center;
    align-items: center;
    text-align: center;
        /* delete later */
    border: 0px solid black;
}

.grid-item{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}



.main-title {
    font-size: 60px;
    justify-self: center;
    align-self: center;
    color: var(--bgcl);
    transition: all 0.8s ease;
    z-index: 1;
}

.coffee-text{
    font-size: 60px;
    justify-self: center;
    align-self: center;
    color: var(--bgcl);
    font-style: normal;
    font-stretch: expanded;
    transition: all 0s ease;
    z-index: 1;
}

.grid-item:nth-child(1){
    display: flex;
    flex-direction: row;
    gap: 0.75em;
    transition: all 0.5s ease;
    z-index: 5;
}

.grid-item:nth-child(2){
    grid-row: 2;
    overflow: visible;
}

.coffee-cup{
    width: 50%;
    z-index: 500;
    margin-top: -12%;
    fill: var(--coffee-color);
}

.steam{
    width: 50%;
    z-index: 499;
    margin-top: -30%;
}
